In [1]:
import pandas as pd

trip_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
trip_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [2]:
trip_df = trip_data.copy()
trip_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
trip_df['start station id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

In [4]:
trip_df["starttime"].info()
trip_df['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

In [5]:
trip_df['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

In [6]:
trip_df['bikeid'].value_counts()

bikeid
33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: count, Length: 10004, dtype: int64

In [7]:
trip_df['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [8]:
trip_df['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [9]:
print(trip_df["start station id"].nunique())
print(trip_df['end station id'].nunique())

759
765

In [10]:
trip_df["birth year"].describe()

count    300000.000000
mean       1979.364803
std          11.920796
min        1885.000000
25%        1969.000000
50%        1982.000000
75%        1989.000000
max        2002.000000
Name: birth year, dtype: float64

In [11]:
trip_df['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [12]:
trip_df['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [13]:
col = ["start station id", 'end station id']

trip_df.drop(col, axis=1, inplace=True)

trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [14]:
trip_df['age'] = 2018 - trip_df['birth year']

trip_df.drop(['birth year'], axis=1, inplace=True)

In [15]:
mask = trip_df[trip_df['age']>60]
mask.count()

starttime                  11837
stoptime                   11837
start station name         11837
start station latitude     11837
start station longitude    11837
end station name           11837
end station latitude       11837
end station longitude      11837
bikeid                     11837
usertype                   11837
gender                     11837
age                        11837
dtype: int64

In [16]:
trip_df['starttime'] = pd.to_datetime(trip_df['starttime'], dayfirst=False)
display(trip_df['starttime'])

0        2018-09-01 00:00:05.269
1        2018-09-01 00:00:11.281
2        2018-09-01 00:00:20.649
3        2018-09-01 00:00:21.746
4        2018-09-01 00:00:27.315
                   ...
299995   2018-09-05 19:08:27.846
299996   2018-09-05 19:08:28.370
299997   2018-09-05 19:08:27.509
299998   2018-09-05 19:08:29.230
299999   2018-09-05 19:08:29.711
Name: starttime, Length: 300000, dtype: datetime64[ns]

In [17]:
trip_df['stoptime'] = pd.to_datetime(trip_df['stoptime'], dayfirst=False)
display(trip_df['stoptime'])

0        2018-09-01 00:27:20.634
1        2018-09-01 00:02:23.481
2        2018-09-01 00:55:58.547
3        2018-09-01 00:07:38.583
4        2018-09-01 02:21:25.308
                   ...
299995   2018-09-05 19:15:51.494
299996   2018-09-05 19:20:01.508
299997   2018-09-05 19:13:40.506
299998   2018-09-05 20:04:29.322
299999   2018-09-05 19:12:14.762
Name: stoptime, Length: 300000, dtype: datetime64[ns]

In [18]:
trip_df['trip duration'] = trip_df['stoptime'] - trip_df['starttime']
print(trip_df['trip duration'][3])

0 days 00:07:16.837000

In [19]:
WeekdaySale = trip_df['starttime'].dt.dayofweek
sat_sale = WeekdaySale.value_counts()[5]
sun_sale = WeekdaySale.value_counts()[6]
weekend_count = sat_sale + sun_sale
print(weekend_count)

115135

In [20]:
weekend = 0
for dat in WeekdaySale:
    if dat == 5 or dat == 6:
        weekend+=1
    else:
        weekend+=0
print(weekend)

115135

In [52]:
hour = trip_df['starttime'].dt.hour
trip_df['time_of_day'] = hour.apply(lambda x: "night" if 0<=x<=6  else "morning" if 6<x<=12 else 'day' if 12<x<=18 else "evening")

In [56]:
print(trip_df['time_of_day'].value_counts())

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64

In [57]:
143012/15085

9.480411004308916